.auth-menu {
  position: absolute;
  width: 204px;
  height: 194px;
  background: $auth-menu__background-color;
  border-radius: 10px;
}

.user-name {
  margin: 20px 0 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $main--text-color;
}

.auth-menu__list_item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $main--text-color;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $auth-menu__background-color_hover;
  }
}

.exit {
  height: 46px;
  cursor: pointer;
}
