.auth-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 204px;
  min-height: 194px;
  background: $auth-menu__background-color;
  border-radius: 10px;
}

.user-name {
  padding: 10px 0 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $main--text-color;
}

.auth-menu__list_item {
  padding: 10px 0 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $main--text-color;
  cursor: pointer;
  &:first-child {
    padding: 20px 0 0 20px;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  &:focus,
  &:hover {
    background-color: $auth-menu__background-color_hover;
  }
}

.auth-menu__exit {
  padding: 10px 20px;
  min-height: 46px;
  background-color: $modal-module__background-color_exit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $main--text-color;
  border-radius: 10px;
  cursor: pointer;
}
