.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 342px;
  min-height: 414px;
  background: $auth-menu__background-color;
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $main--text-color;
  word-wrap: break-word;
}

.authorization-title {
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: $main--text-color;
  margin: 20px 0 20px;
  padding: 0 0 0 20px;
  text-align: left;
}

.authFormEmail {
  padding: 12px 20px;
  margin: 0 20px 20px;
  width: 302px;
  min-height: 40px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;

  &::placeholder {
    color: #b3b3b3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.authFormPassword {
  padding: 12px 20px;
  margin: 0 20px;
  width: 302px;
  min-height: 40px;
  border: 1px solid #b3b3b3;
  border-radius: 10px;

  &::placeholder {
    color: #b3b3b3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}

.btn__sign_in {
  margin: 70px 50px 0;
  padding: 12px;
  text-align: center;
  width: 240px;
  height: auto;
  color: $auth-menu__background-color;
  background: $main-gradient;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    background: $main-color;
  }
}

.btn__sign_up {
  margin: 16px 50px 30px;
  padding: 12px;
  text-align: center;
  width: 240px;
  height: auto;
  color: $main-color;
  background: $auth-menu__background-color;
  border-radius: 10px;
  border: 2px solid $main-color;
  cursor: pointer;

  &:focus,
  &:hover {
    background: $main-color;
    color: $auth-menu__background-color;
  }
}

.authorization-star {
  margin-left: 20px;
}

.authorization-helper {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.auth-close {
  z-index: 10000;
  @extend %btn;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 20px;
  background-color: transparent;
  svg {
    stroke: $main--text-color;
  }
}


input {
  outline-color: #53535c;
}

div.auth-helper-text-div {
  position: relative;
}

.auth-helper-text__invalid_email {
  font-size: 12px;
  display: inline-block;
  height: auto;
  position: absolute;
  top: -18px;
  right: 20px;
  color: red;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    top: -43px;
    right: 0;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url('../images/profile/error.svg');
  }
}

.auth-helper-text__invalid_password {
  font-size: 12px;
  display: inline-block;
  height: auto;
  position: absolute;
  top: 0px;
  right: 20px;
  color: red;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    top: -43px;
    right: 0;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-image: url('../images/profile/error.svg');
  }
}



.auth-helper-text__valid_email {
  font-size: 12px;
  display: inline-block;

  height: auto;
  position: absolute;
  top: -18px;
  right: 7px;
  color: rgb(16, 155, 23);

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    right: 19px;
    top: -44px;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 73%;
    background-image: url('../images/profile/valid.svg');
  }
}

.auth-helper-text__valid_password {
  font-size: 12px;
  display: inline-block;

  height: auto;
  position: absolute;
  top: -18px;
  right: 7px;
  color: rgb(16, 155, 23);

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    right: 19px;
    top: -25px;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 73%;
    background-image: url('../images/profile/valid.svg');
  }
}