.header__nav__input {
  cursor: pointer;
}

.svg_imade_header {
  margin: 0 auto;
}
.sidebar {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $main--text-color;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #e5e5e5;
  z-index: 500;
  opacity: 1;
  transform: translateX(0%);
  transition: transform 250ms linear;
  padding: 20px;
  cursor: pointer;
}

.sidebar_item_search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_wrap_search {
  display: flex;
}
.ishidden_sidebar {
  opacity: 1;
  transform: translateX(-200%);
  transition: transform 250ms linear;
}
.sidebar_icon_search {
  fill: $main--text-color;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
.search_btn {
  background: none;
  border: none;
  margin-right: 10px;
}
.sidebar_input_form {
  width: 70%;
  height: 40px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #e5e5e5;
  outline: none;
  border-radius: 5px;
  transition: all 250ms linear;
}
.sidebar_input_form:hover {
  background-color: white;
  transition: all 250ms linear;
}

.close_btn {
  border: none;
  background: none;
  outline: none;
}
.nav__icon_close {
  fill: $main--text-color;
  width: 16px;
  height: 16px;
}

.sidebar_item {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar_icon_info_wraper {
  display: flex;
  flex-direction: row;
}
.caret_down {
  position: absolute;
  right: 20px;
}
.sidebar_nav__icon {
  fill: white;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.sidebar_header_wrap {
  width: 30px;
  height: 30px;
  background-color: $main--text-color;
  border-radius: 20px;
  position: relative;
  margin-right: 30px;
}
.sidebar_arrow_down_icon {
  margin-left: 10px;
  margin-top: 5px;
  width: 10px;
  height: 10px;
  margin-left: 100px;
  transform: rotate(-90deg);
}
/* ================================================== */

.header {
  background-color: $main--text-color;
  height: 60px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_logo_name {
  font-family: Montserrat Alternates;
  font-style: italic;
  font-weight: normal;
  font-size: 28px;
  margin-left: 20px;
  color: white;
  margin-top: 6px;
}
.header_txt {
  font-weight: bold;
}
.center_conatiner {
  margin-top: 10px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-left: 20px;
  background: $main-gradient;
  border-radius: 50px;
}
.header__logo::after {
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  margin-left: 10px;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-color: $main--text-color;
}
.header_wrap {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.header_wrap:hover {
  background-color: $secondary-color;
  transition: all 250ms linear;
}

.header__txt__hover:hover {
  color: $secondary-color;
  transition: all 250ms linear;
}

.nav__icon {
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.amount_cart {
  position: absolute;
  text-align: center;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid;
  background: $main-gradient;
}
.nav__icon_search {
  fill: white;
  margin-left: 5px;
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
.header__nav__three_dots {
  margin-top: 15px;
}
.nav__icon_three_dots {
  fill: orange;
  width: 30px;
  height: 30px;
}
.header_img_cart {
  padding-top: 8px;
}
.header_img_phone {
  padding-top: 3px;
}
.header_img_phone_side {
  padding-top: 2px;
}
.side_bar_img_phone {
  position: absolute;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}
.header_img_search {
  padding-top: 5px;
}
.header_img_menu {
  margin-left: 5px;
}
.header_img_caret {
  margin-top: 10px;
  margin-left: 10px;
}
.header_wrap_three_dots {
  display: flex;
  flex-direction: row;
}
@media (min-width: 20px) and (max-width: 767px) {
  .header_phone {
    display: flex;
    width: 320px;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row;
    height: 60px;
  }
  .header_tablet {
    display: none;
  }
  .header_desktop {
    display: none;
  }
  .header__nav {
    width: 100%;
    justify-content: space-around;
  }
  .header_wrap_three_dots {
    height: 10px;
  }
}
@media (min-width: 768px) {
  .header_phone {
    display: none;
  }
  .header_tablet {
    display: flex;
    width: 648px;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row;
    height: 60px;
  }
  .header_desktop {
    display: none;
  }
  .sidebar {
    width: 50%;
  }
  .logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header__nav {
    width: 100%;
    justify-content: space-around;
  }
  .header_wrap_three_dots {
    height: 10px;
  }
}
@media (min-width: 1200px) {
  .header_phone {
    display: none;
  }
  .header_tablet {
    display: none;
  }
  .header_desktop {
    display: block;
    width: 1100px;
    margin: 0 auto;
  }
  .logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .phone_container {
    display: flex;
    align-items: center;
  }
  .arrow_down_icon {
    fill: white;
    margin-left: 10px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
  }
  .header__desktop_text {
    padding-top: 10px;
    padding-left: 25px;
    font-size: 15px;
    color: white;
  }
  .header__phone_text {
    padding-top: 6px;
    font-size: 15px;
    color: white;
  }
  .info_container {
    display: flex;
  }
  .navigatiom_container {
    display: flex;
  }
  .icon_container {
    display: flex;
  }
  .nav_icon {
    margin-right: 20px;
  }
  .nav_item {
    margin-right: 10px;
  }
}
