@media (min-width: 1200px) {
  .information {
    padding: 48px 20px 30px 20px;
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  .information__icon-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .information__icon-item {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }

  .information__wrapper-item {
    width: 236px;
  }

  .information__title-list,
  .information__description-list {
    display: flex;
  }
  .information__title-list,
  .information__icon-list {
    align-items: center;
  }
  .information__title {
    @include font(600, 18px, 21px, $main-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    text-align: start;
  }
  .information__title-item {
    margin-bottom: 30px;
  }
  .information__title-item:not(:last-child),
  .information__description-item:not(:last-child) {
    margin-right: 30px;
  }

  .information__description-list {
    @include font(500, 14px, 17px, $main--text-color);
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
  }
}
