.modalModule {
  pointer-events: initial;
  z-index: 999;
}

.modalOverlay {
  position: fixed;
  background-color: $modal-module__background-color;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
}

.modalComponent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $auth-menu__background-color;
}
