.modalModule {
  pointer-events: initial;
  z-index: 999;
  box-shadow: $main__box-shadow;
  border-radius: 10px;
  padding-right: 20px;
}

.modalOverlay {
  @include size (100vw, 100vh)
  position: fixed;
  background-color: $modal-module__background-color;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: auto;
}

.modalComponent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: $main__background-color;
  max-height: 90vh;
}
