.addADV__hidden {
    display: none;
}

.addADV__active {
  display: block;
}

.ADV__input--hidden {
    display: none;
}


// .addcard__list {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//    width: 453px;
//     }
  
//     .add__product {
//      font-size: 15px;
//     }

