body {
  background: #e5e5e5;
}
.sale {
  padding-top: 10px;
  padding-bottom: 15px;
}
.sale_description {
  width: 137px;
  height: 32px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #53535c;
  margin-bottom: 74px;
}

.sale_list {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
// .sale_list:not(:nth-child(n + 5)) {
//   margin-bottom: 10px;
// }
.sale_item {
  list-style: none;
  position: relative;
  width: 135px;
  height: 220px;
  // margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10px;
}
.sale_item:not(:nth-child(n + 5)) {
  margin-bottom: 10px;
}

.sale-image {
  // position: relative;
  // height: 80px;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}
.sale_img-tablet {
  display: none;
}
// .sale-image {
//   background-image: url(../images/sale/image1.png);
//   background-repeat: no-repeat;
//   background-position: center;
// }
.sale_vector {
  position: absolute;
  width: 20px;
  height: 17.79px;
  left: 110px;
  top: 10px;
}
.sale_name {
  width: 105px;
  height: 24px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 15px;
}
.sale_rating {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: linear-gradient(47.73deg, #ff8a9d 15.48%, #ffc390 81.25%);
  margin-bottom: 16px;
  margin-left: 15px;
}
.sale_price-sale {
  width: 105px;
  height: 20px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #53535c;
  margin-left: 15px;
  margin-bottom: 15px;
}
.sale_price {
  width: 47px;
  height: 12px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: line-through;
  color: #b3b3b3;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .sale {
    padding-bottom: 45px;
  }
  .sale_description {
    width: 92px;
    height: 32px;
    margin-bottom: 20px;
  }
  .sale_img {
    display: none;
  }
  .sale-image {
    margin-top: 20px;
    margin-bottom: 23px;
  }
  .sale_img-tablet {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }
  .sale_vector {
    width: 20px;
    height: 17.79px;
    left: 175px;
    top: 10px;
  }
  .sale_item {
    width: 204px;
    height: 300px;
    // margin-bottom: 10px;
  }
  .sale_name {
    width: 164px;
    height: 33px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .sale_rating {
    margin-bottom: 26px;
    margin-left: 20px;
  }
  .sale_price-sale {
    width: 164px;
    height: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .sale_price {
    margin-left: 20px;
  }
}
