.scrolli {
  //   z-index: 999;
  //   position: fixed;
  //   right: 5%;
  //   bottom: 10%;
  //   padding: 2%;
  //   border: none;
  //   border-radius: 80px;
  //   cursor: pointer;
  //   vertical-align: middle;
  //   text-align: center;
  //   width: 10vw;
  //   height: 10vh;
  //   color: #ffffff;
  background: linear-gradient(11.4deg, #6368e5 15.48%, #b884f3 81.25%);
  //   display: flex;
}

// .scroll__link {
//   padding: 3%;
//   position: fixed;
//   right: 5%;
//   bottom: 10%;
//   display: flex;
//   color: #fff;
//   font-weight: 900;
//   font-size: 2em;
//   max-width: 10vw;
//   max-height: 7vh;
// }
.scroll {
  z-index: 999;
  position: fixed;
  right: 5%;
  bottom: 10%;
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 15px;
  margin: 10px 20px;
  border-radius: 45px;
  // background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  scroll-behavior: smooth;
  background-image: linear-gradient(10.96deg, #1116a7 40.48%, #3034bb 30.48%, #b884f3 81.25%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
  transition: .5s;
}

.scroll:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.scroll__link {
  scroll-behavior: smooth;
  color: white;
  width: 40px;
  height: 25px;
}
.scroll_delite{
display: none;
}

#scrollUp {
  scroll-behavior: smooth;
  
}
