// .catalog__wrapper__markap {
//     position: absolute;
//     z-index: 999;
// }

.caret_down_category {
  position: absolute;
  right: 40px;
}

.catalog__hidden {
  display: none;
}

.catalog__active {
  display: block;
}

// .catalog__wrapper {
//     background-color: #E5E5E5;
// }

.catalog__list {
  background-color: #e5e5e5;
}

.catalog__img {
  display: none;
}

.sub__catalog__list {
  // background: #FFFFFF;
  padding: 20px 0 20px 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.sub__catalog__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
}

.sub__catalog__item:not(:last-child) {
  margin-bottom: 10px;
}

.catalog__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #53535c;
  margin-bottom: 15px;
  cursor: pointer;
}

// .arrow__wraper::after {
//     content: "\0025BA";
//     width: 100px;
//     height: 50px;
//     position: absolute;
//     font-size: 10px;
//     transform: translate(10px, 10px);

// }

.catalog__item {
  width: 272px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .catalog__item {
    width: 279px;
  }

  .catalog__title {
    line-height: 28px;
  }
}

.sub__catalog__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media (min-width: 1200px) {
    .catalog__img {
        display: block;
        margin-bottom: 14px;
        object-fit: cover;
        border-radius: 10px;
        width: 247px;
        height: 127px;
    }

    .catalog__list {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: absolute;
        // z-index: 999999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1120px;
        min-height: 440px;
        border-radius: 10px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

    }

    .catalog__item {
        width: 247px;
    }

    .sub-catalog__list {
        background-color: #E5E5E5;
        
        }

     .catalog__title {
        //  text-align: center;
            display: flex;
            height: 42px;
            font-weight: 600;
            line-height: 21px;
            color: #6368E5;
            flex-direction: column;
            justify-content: center;
            
            
            }

    .sub__catalog__list {
        background: #E5E5E5;
    }

    .catalog__hidden {
        display: block;
      }


  }
