.team__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team__item {
  display: flex;
  justify-content: space-around;
  width: 220px;
  margin: 0 auto;
  width: 280px;
  height: 126px;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.team__item__person {
  display: block;
  position: relative;
  margin: auto;
}

.team__item__info {
  width: 177px;
  margin-left: 10px;
}

.team__item__photo {
  width: 85px;
  height: 86px;
  border-radius: 50px;
  border: 4px solid white;
  margin: 15px 15px 15px 15px;
  object-fit: cover;
}

.team__item__title {
  display: flex;
  align-items: center;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #53535c;
  margin-top: 25px;
}

.team__item__text {
  display: flex;
  align-items: center;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 15px;
}

.contactsBack {
  margin: 20px 20px 20px 20px;
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #53535c;
}

.title_contacts {
  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #53535c;
  margin: 20px 20px 20px 20px;
}

.contacts_name {
  font-weight: bold;
  line-height: 22px;
  color: #53535c;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container_contact {
    width: 320px;
    margin: 0 auto;
  }

  .team__item {
    width: 280px;
    height: 161px;
    margin: 5px 5px 5px 5px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container_contact {
    width: 648px;
    margin: 0 auto;
  }

  .team__item {
    width: 304px;
    height: 161px;
    margin: 10px 10px 10px 10px;
  }

  .team__item__info {
    width: 198px;
    margin-left: 30px;
    font-size: 14px;
  }

  .team__item__person {
    font-size: 18px;
  }

  .team__item__photo {
    width: 96px;
    height: 96px;
    border-radius: 70px;
  }

  .team__item__title {
    font-size: 24px;
    line-height: 32px;
    margin-top: 15px;
  }

  .team__item__text {
    font-size: 13px;
    line-height: 13px;
  }
  .contacts_name {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
    color: #53535c;
  }
}

@media (min-width: 1200px) {
  .container_contact {
    width: 1100px;
    margin: 0 auto;
  }

  .team__item {
    width: 500px;
    height: 270px;
    margin: 20px 20px 20px 20px;
  }

  .team__item__info {
    width: 310px;
    margin-left: 30px;
  }

  .team__item__person {
    margin-left: 25px;
    margin-top: 25px;
  }

  .team__item__photo {
    width: 160px;
    height: 160px;
    border-radius: 90px;
    margin-bottom: 30px;
  }

  .team__item__title {
    font-size: 26px;
    line-height: 32px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .contacts_name {
    font-size: 26px;
    font-weight: bold;
    line-height: 22px;
    color: #53535c;
  }

  .team__item__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 90px;
  }
}
