$main-gradient: linear-gradient(11.4deg, #6368e5 15.48%, #b884f3 81.25%);
$secondary-gradient: linear-gradient(47.73deg, #ff8a9d 15.48%, #ffc390 81.25%);
$main-color: #6368e5;
$secondary-color: #ffc390;
$main--text-color: #53535c;
$main__box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
$main__background-color: #ffffff;
$auth-menu__background-color_hover: #f1effb;
$modal-module__background-color: rgba(0, 0, 0, 0.5);
$modal-module__background-color_exit: #f4f4f4;
$placeholder-color: #b3b3b3;
$validation-form__invalid: #FF8A9D;
$validation-form__valid: #109b17;
