@import '../../sass/helpers/mixins.scss';
@import '../../sass/helpers/variables.scss';
@import '../../sass/helpers/placeholders.scss';

.categories {
  &__list {
    margin-bottom: 48px;

    @media (min-width: 768px) {
      margin-bottom: 65px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
    }

    @media (min-width: 768px) {
      width: 314px;
      min-height: 301px;
    }

    @media (min-width: 768px) {
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }

    @media (min-width: 1200px) {
      width: 525px;
    }

    @media (min-width: 1200px) {
      &:nth-child(2n-1) {
        margin-right: 30px;
      }
    }
  }
}

.category {
  &-wrapper {
    @media (min-width: 1200px) {
      max-width: 1080px;
      margin: 0 auto;
    }
  }
  &__img {
    border-radius: 10px;
    height: 144px;
    margin: 0 auto;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 314px;
      height: 161px;
    }

    @media (min-width: 1200px) {
      width: 525px;
      height: 270px;
    }

    &_wrapper {
      margin-bottom: 20px;
    }
  }
  &__title {
    @include font(700, 26px, 28px, $main--text-color);
    margin-bottom: 20px;
  }
}

.btn {
  @extend %btn;
  @include font(500, 18px, 22px, #ffffff);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  align-items: center;
  text-align: center;
  display: block;
  margin: 0 auto;

  &:hover,
  &:focus {
    background: $main-color;
  }

  &_gradient {
    max-width: 198px;
    height: 44px;
    padding: 11px 50px;

    background: $main-gradient;
    border-radius: 10px;

    color: #ffffff;
  }
}

.modal_wrapper {
  background: #fff;
  width: 350px;

  padding: 30px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 320px) {
    width: 300px;
    word-wrap: break-word;
  }
}

.subcategories {
  &__item {
    cursor: pointer;
    display: flex;
    // justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    margin-right: 10px;
  }
}
